.wrapper {
    
  }
  
  .title {
    font-size: rem(36px);
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }