.footer {
    margin-top: rem(300px);
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }
  
  .logo {
    max-width: rem(200px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    @media (max-width: $mantine-breakpoint-sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .description {
    margin-top: rem(5px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: var(--mantine-spacing-xs);
      text-align: center;
    }
  }
  
  .inner {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .groups {
    display: flex;
    flex-wrap: wrap;
  
    @media (max-width: $mantine-breakpoint-sm) {
        margin-top: 2rem;
    }
  }
  
  .wrapper {
    width: rem(160px);
  }
  
  .link {
    display: block;
    font-size: var(--mantine-font-size-sm);
    padding-top: rem(3px);
    transition: 300ms ease;
    padding-bottom: rem(3px);
  
    &:hover {
      text-decoration: underline;
      color: #f43f5e;
    }
  }
  
  .title {
    font-size: var(--mantine-font-size-xl);
    font-weight: 700;
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    
  }
  
  .afterFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .social {
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: var(--mantine-spacing-xs);
    }
  }